<h2>Add a new comment</h2>
<form action="{% url "blog:post_comment" post_id=post.id %}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add comment"></p>
</form>